@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Search Overlay -->
<div class="search-overlay position-fixed start-0 end-0 top-0 bottom-0 overflow-hidden">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-close">
                <i class="ph-bold ph-x"></i>
            </div>
            <div class="search-overlay-form">

                <form>
                    <input type="text" class="input-search bg-transparent p-0 d-block w-100" placeholder="Enter your keywords...">
                    <button type="submit" class="d-inline-block bg-transparent p-0 border-0">
                        <i class="ph-bold ph-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Search Overlay -->
<!-- Start Page Title Area -->
<div class="page-title-area position-relative z-1">
    <div class="container">
        <div class="page-title-content text-center">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start About Area -->
<div class="about-area ptb-100 position-relative z-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="image">
                                <img src="~/User/images/about/about1.jpg" alt="about-image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="image position-relative">
                                <img src="~/User/images/about/about2.jpg" alt="about-image">
                                <div class="experience">
                                    <img src="~/User/images/about/ribbons.png" alt="ribbons">
                                    <span class="d-block fw-bold">
                                        25 Years <br>of Experience
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="d-block sub-title fw-bold">
                        What will you get
                    </span>
                    <h2>
                        Our Airline Save Your Time and Give You Comfort
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium?
                    </p>
                    <ul class="features-list ps-0 list-unstyled">
                        <li class="position-relative fw-bold">
                            <i class="ph ph-check"></i>
                            There are many variations of passage of lorem.
                        </li>
                        <li class="position-relative fw-bold">
                            <i class="ph ph-check"></i>
                            Available but the majority alteration.
                        </li>
                    </ul>
                    <div class="d-sm-flex align-items-center">
                        <a href="private-flights.html" class="default-btn">
                            Discover More
                            <i class="ph ph-arrow-right"></i>
                        </a>
                        <div class="call-info d-flex align-items-center">
                            <div class="icon">
                                <i class="ph-fill ph-phone-call"></i>
                            </div>
                            <div class="info">
                                <span class="d-block">
                                    CALL ANYTIME
                                </span>
                                <a href="tel:+9288006780" class="fw-bold">
                                    +92 23456778
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="~/User/images/shapes/shape1.png" alt="shape1">
    </div>
</div>
<!-- End About Area -->
<!-- Start Request Quote Area -->
<div class="request-quote-area bg-image ptb-100">
    <div class="container">
        <div class="request-quote-content text-center mx-auto">
            <h2 class="mx-auto">
                We Fly You To Over 20.000 Destinations World Wide
            </h2>
            <p>
                Airline proudly raises the bar and exceeds the standard for luxury and corporate private jet charter services. We pride ourselves on offering a professional and personalised service.
            </p>
            <a href="blog-details.html" class="default-btn">
                Request Quote
                <i class="ph ph-arrow-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Request Quote Area -->
